<html dir='ltr' lang='en'>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body
  style='font-family:sans-serif;margin:auto;padding:20px;max-width:550px;margin-top:40px;border-radius:10px;border:1px solid #eaeaea;padding-right:40px;padding-left:40px'>
  <img alt='Vercel' height='36'
    src='https://ci3.googleusercontent.com/meips/ADKq_NZ5CRiimi7WKK5FaQ-YKslYMBUxL9SC9VdvZZynIJj3qS0r0vVd3nDIc5bAk6FlO0Lm976AiH9pPmSIgL1QIpAEertBsECik4rMP7HjCtY9mLxu19a-uWINT3HR5jYD=s0-d-e1-ft#https://a0.muscache.com/pictures/d5e805e2-dfa8-4a7d-b06f-c5910be9a725.jpg'
    style='display:block;outline:none;border:none;text-decoration:none;object-fit:cover;padding-bottom:20px;padding-top:20px'
    width='36' />

  {{! CONTENT }}
  {{{BODY}}}
  {{! CONTENT }}

  <hr
    style='width:100%;border:none;border-top:1px solid #eaeaea;opacity:0.1;height:1px;background-color:#000000;margin-top:30px;margin-bottom:30px' />
  <img alt='Vercel' height='36'
    src='https://ci3.googleusercontent.com/meips/ADKq_NZ5CRiimi7WKK5FaQ-YKslYMBUxL9SC9VdvZZynIJj3qS0r0vVd3nDIc5bAk6FlO0Lm976AiH9pPmSIgL1QIpAEertBsECik4rMP7HjCtY9mLxu19a-uWINT3HR5jYD=s0-d-e1-ft#https://a0.muscache.com/pictures/d5e805e2-dfa8-4a7d-b06f-c5910be9a725.jpg'
    style='display:block;outline:none;border:none;text-decoration:none;object-fit:cover;padding-bottom:20px;padding-top:20px'
    width='36' />
  <table align='center' width='100%' class='pt-8' border='0' cellPadding='0' cellSpacing='0' role='presentation'>
    <tbody>
      <tr>
        <td>
          <table align='center' width='100%' border='0' cellPadding='0' cellSpacing='0' role='presentation'>
            <tbody style='width:100%'>
              <tr style='width:100%'>
                <td data-id='__react-email-column'
                  style='color:#000000;opacity:0.7;font-size:14px;font-weight:medium;text-align:start;padding-top:8px'>
                  Airbnb, Inc.</td>
              </tr>
            </tbody>
          </table>
          <table align='center' width='100%' border='0' cellPadding='0' cellSpacing='0' role='presentation'>
            <tbody style='width:100%'>
              <tr style='width:100%'>
                <td data-id='__react-email-column'
                  style='color:#000000;opacity:0.7;font-size:14px;font-weight:medium;text-align:start;padding-top:8px'>
                  888 Brannan St.</td>
              </tr>
            </tbody>
          </table>
          <table align='center' width='100%' border='0' cellPadding='0' cellSpacing='0' role='presentation'>
            <tbody style='width:100%'>
              <tr style='width:100%'>
                <td data-id='__react-email-column'
                  style='color:#000000;opacity:0.7;font-size:14px;font-weight:medium;text-align:start;padding-top:8px'>
                  San Francisco, CA 94103, USA</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>